<div><h1>TELLER PROFILE</h1></div>

<div>
User name: <%= @teller.username %><br>
</div>

<div>
Your stories: <%= %><br>
</div>

<div>
Your sentences:<br>
<% %>
</div>

<br><br>
<%= link_to "Edit your profile", edit_teller_path(@teller) %>

<div>
<% if @teller.id ==  session[:teller_id] %>
    <%= button_to 'DELETE', '/users/delete', method: :delete%>
    <%= button_to 'LOG OUT', '/logout', method: :logout%>
<%end%>
</div>

