<div class="create-sent" style="width: 800px">
    <div>
    <h4>
    Turns:
    <% i = 1 %>
    <% @teller.each do |t|%>
    <%= i.to_s + ". " + t.username + "," %>
    <% i = i + 1%>
    <% end %> <br>
    make sure your turn is correct. <br>
    </h4>
    </div>

    <div class="flexrow">
        <div>
            <div><b>Teller <%= @teller[0].username %>:</b></div>
            <div>
                <%= form_for @s1 do |f|%>
                Once upon a time, 
                <%= f.text_area :sentence_text %> 
                <%= f.hidden_field(:sentence_start, "Once upon a time, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[0].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%>
            </div>
        </div>
        <br>

        <div>
            <div><b>Teller <%= @teller[1].username %>:</b></div>
            <div>
                <%= form_for @s2 do |f|%>
                Every day, <%= f.text_area :sentence_text %>
                <%= f.hidden_field(:sentence_start, "Every day, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[1].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%>
            </div>
        </div>
        <br>

        <div>
            <div><b>Teller <%= @teller[2].username %>:</b></div>
            <div>
                <%= form_for @s3 do |f|%>
                One day, <%= f.text_area :sentence_text %>
                <%= f.hidden_field(:sentence_start, "One day, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[2].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%>
            </div>
        </div>
        <br>

        <div>
            <div><b>Teller <%= @teller[3].username %>:</b></div>
            <div>
                <%= form_for @s4 do |f|%>
                Because of that, <%= f.text_area :sentence_text %>
                <%= f.hidden_field(:sentence_start, "Because of that, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[3].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%>
            </div>
        </div>
        <br>
        
        <div>
            <div><b>Teller <%= @teller[4].username %>:</b></div>
            <div>
                <%= form_for @s5 do |f|%>
                Because of that, <%= f.text_area :sentence_text %>
                <%= f.hidden_field(:sentence_start, "Because of that, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[4].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%>
            </div>
        </div>
        <br>
                    
        <div>
            <div><b>Teller <%= @teller[5].username %>:</b></div>
            <div>
                <%= form_for @s6 do |f|%>
                Until finally, <%= f.text_area :sentence_text %>
                <%= f.hidden_field(:sentence_start, "Until finally, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[5].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%>
            </div>
        </div>
        <br>

        <div>
            <div><b>Teller <%= @teller[6].username %>:</b></div>
            <div>
                <%= form_for @s7 do |f|%>
                In conclusion, <%= f.text_area :sentence_text %>
                <%= f.hidden_field(:sentence_start, "In conclusion, " => params[:sentence_start])%>
                <%= f.hidden_field(:story_id, @story.id => params[:story_id])%>
                <%= f.hidden_field(:teller_id, @teller[6].id => params[:teller_id])%>
                <%= hidden_field_tag :t_id, @team_id %>
                <%= f.submit %><br>
                <%end%><br>
            </div>
        </div>

    </div>

</div>