<div><h1>ABOUT STORY-TELLING</h1></div>
<div>
<p>Story-telling is a communication-based game where you can play anywhere and anytime with anyone.</p>
<p>The purpose of this game to make a lame/funny/interesting story based on 7 sentences.</p>
<p>There are no winner. Only stories.</p>
<p>The number of player can range from two to seven players.</p>
<p>The structure of the sentences will have to start with:</p>
<ol>
<p>"Once upon a time, __________________________."</p>
<p>"Everyday, __________________________."</p>
<p>"One day, __________________________."</p>
<p>"Because of that, __________________________."</p>
<p>"Because of that, __________________________."</p>
<p>"Until finally, __________________________."</p>
<p>"In conclusion, __________________________."</p>
</ol>
<br>
</div>

<%= link_to "Let's play", new_team_path %> <br>
<%= link_to "View existed story", stories_path %>

<div><h1>3 RANDOM STORIES</h1>
<div>
Story <%= @id_1.to_s %><br>
<%= @array_of_3_stories[0][0] %><br>
<%= @array_of_3_stories[0][1] %><br>
<%= @array_of_3_stories[0][2] %><br>
<%= @array_of_3_stories[0][3] %><br>
<%= @array_of_3_stories[0][4] %><br>
<%= @array_of_3_stories[0][5] %><br>
<%= @array_of_3_stories[0][6] %><br>
</div>
<br><br>
<div>
Story <%= @id_2.to_s %><br>
<%= @array_of_3_stories[1][0] %><br>
<%= @array_of_3_stories[1][1] %><br>
<%= @array_of_3_stories[1][2] %><br>
<%= @array_of_3_stories[1][3] %><br>
<%= @array_of_3_stories[1][4] %><br>
<%= @array_of_3_stories[1][5] %><br>
<%= @array_of_3_stories[1][6] %><br>
</div>
<br><br>
<div>
Story <%= @id_3.to_s %><br>
<%= @array_of_3_stories[2][0] %><br>
<%= @array_of_3_stories[2][1] %><br>
<%= @array_of_3_stories[2][2] %><br>
<%= @array_of_3_stories[2][3] %><br>
<%= @array_of_3_stories[2][4] %><br>
<%= @array_of_3_stories[2][5] %><br>
<%= @array_of_3_stories[2][6] %><br>
</div>



