<h1>STORY</h1>

<% if @story.sentences.length == 7%>
    <ol>
    <%= @s1 %><br>
    <%= @s2 %><br>
    <%= @s3 %><br>
    <%= @s4 %><br>
    <%= @s5 %><br>
    <%= @s6 %><br>
    <%= @s7 %><br>
    </ol>
<% else %>
    <%= "Your story is incompleted. It will be deleted. Make sure to follow isntructions." %>
    <%= link_to "Create a story again", new_team_path %>
<% end %>


