<!DOCTYPE html>
<html>
  <head>
    <title>StoryTelling</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class='clearfix'>
  <div class="nav">
      <%= link_to "HOME", home_path %>
      <%= link_to "CREATE NEW STORY", new_team_path %>
      <%= link_to "TELLER PROFILES", tellers_path %>

  </div>
</header>



  <body>
    <%= yield %>
  </body>
</html>
